* {
    box-sizing: border-box;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    flex: 1;
    max-width: 700px;
    min-width: 700px;
}


.square {
   
    background-color: red;
    border: 1px black solid;
    margin: 1px;
    aspect-ratio: 1;

}
